.btn{
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;
  padding: 10px 20px;
  margin-left: 12px;
  font-size: 17px;
  background-color:#6F7DCC;
  color: white;
  font-style: bold;
  border: none;
  font-family: 'Oxygen', sans-serif;
}

.btn:hover {
  transform: translateY(-3px);
}