.App {
  text-align: center;
}

.test {
  font-size: 10px;
}

.title {
  color: green;
  font-size: 90px;
  font-family: 'Oxygen', sans-serif;
  font-style: bold;
}

.bumper {
  color: #ebffe5;
  font-size: 70px;
}

p {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}

#note {
  font-size: 15px;
  font-style: italic;
  font-family: 'Oxygen', sans-serif;
}

.App {
  background-color: #ebffe5;
  background-size: cover;
}