.App {
  text-align: center;
  background-color: #ebffe5; 
}

.test {
  font-size: 10px;
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none; }

#nav li {
  float: left; 
}

#nav {
  width: 100%;
  float: left;
  margin: 0 0 12em 0;
  padding: 5px;
  list-style: none;
  background-color: #e7e7e7;
}

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: black;
  font-family: 'Oxygen', 'sans-serif';
}

#nav li a:hover {
  color: #6F7DCC;
}

.title {
  color: green;
  font-size: 90px;
  font-family: 'Oxygen', sans-serif;
  font-style: bold;
}

.bumper {
  color: #ebffe5;
  font-size: 70px;
}

p {
  font-size: 20px;
  font-family: 'Oxygen', sans-serif;
}

#note {
  font-size: 15px;
  font-style: italic;
  font-family: 'Oxygen', sans-serif;
}

.App {
  background-color: #ebffe5;
  background-size: cover;
}